#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.user-table {
  margin-top: 20px;
}
.admin-panel {
  margin: 20px;
}
#User {
  margin-left: 400px;
  margin-right: 400px;
}

.cont-wrap {
  background: darkgrey;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    /*background: lightgrey;*/
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
