<!DOCTYPE html>
<html lang="en" class="h-100 w-100" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>
    <script type="text/javascript" src="/js/AdminInfo.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/simple-sidebar.css">
</head>

<body class="h-100 w-100">
<div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-text" id="currentUser"></span>
            <a class="btn btn-primary" href="http://localhost:8080/logout-custom" role="button">Logout</a>
        </div>

    </nav>
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a href="http://localhost:8080/user-test"
                   class="list-group-item list-group-item-action bg-light">Admin</a>
                <a href="http://localhost:8080/user-test2"
                   class="list-group-item list-group-item-action bg-light">User</a>
            </div>
        </div>
        <div id="page-content-wrapper">


            <div class="card text-center admin-panel">
                <div class="card-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#Table" role="tab"
                               aria-controls="home" aria-selected="true">User</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="Table" role="tabpanel" aria-labelledby="home-tab">
                            <div class="card-body user-table">
                                <table class="table table-striped table-hover" id="MyInnerTable">
                                    <tr class="table-primary">
                                        <th>ID</th>
                                        <th>NAME</th>
                                        <th>LAST NAME</th>
                                        <th>AGE</th>
                                        <th>EMAIL</th>
                                        <th>ROLE</th>
                                    </tr>
                                    <tbody id="myUserTable">

                                    </tbody>
                                </table>
                                <div class="modal fade" id="EditUser" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="EditUserForm">

                                                    <div class="mb-3">
                                                        <label for="EditID" class="col-form-label">Name</label>
                                                        <input type="text" class="form-control modalInput" id="EditID"
                                                               name="id" disabled="disabled">
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="EditName" class="col-form-label">Name</label>
                                                        <input type="text" class="form-control modalInput" id="EditName"
                                                               name="name">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="EditLastName"
                                                               class="col-form-label">LastName</label>
                                                        <input type="text" class="form-control modalInput"
                                                               id="EditLastName" name="lastName">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="EditAge" class="col-form-label">Age</label>
                                                        <input type="text" class="form-control modalInput" id="EditAge"
                                                               name="age">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="EditEmail" class="col-form-label">Email</label>
                                                        <input type="text" class="form-control modalInput"
                                                               id="EditEmail" name="email">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="EditPassword"
                                                               class="col-form-label">Password</label>
                                                        <input type="text" class="form-control modalInput"
                                                               id="EditPassword" name="password">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="EditRoles">Role</label>
                                                        <select id="EditRoles" class="form-control modalInput"
                                                                name="roles" placeholder="Choose you role">
                                                            <option value="1">ROLE_USER</option>
                                                            <option value="2">ROLE_ADMIN</option>
                                                        </select>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Send message
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="User" role="tabpanel" aria-labelledby="profile-tab">
                            <form id="myNewUser">

                                <div class="form-group">
                                    <label for="name">First Name</label>
                                    <input type="name" class="form-control" id="name"
                                           placeholder="Enter First Name">
                                </div>

                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input type="lastName" class="form-control" id="lastName"
                                           placeholder="Enter Last Name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email"
                                           aria-describedby="emailHelp" placeholder="Enter Email">
                                </div>

                                <div class="form-group">
                                    <label for="age">Age</label>
                                    <input type="age" class="form-control" id="age"
                                           placeholder="Enter Age">
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password"
                                           placeholder="Enter Password">

                                </div>
                                <div class="form-group">
                                    <label for="roles">Role</label>
                                    <select id="roles" class="form-control">
                                        <option selected>Choose you role</option>
                                        <option value="1">ROLE_USER</option>
                                        <option value="2">ROLE_ADMIN</option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>